/* src/components/HowToPlayAnimationModal/AnimationGrid.module.css */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(4, 40px);
  gap: 4px;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.gridCell {
  width: 40px;
  height: 40px;
  background-color: #ebf8ff;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
}

.highlight {
  transform: scale(1.1);
  background-color: #bfdbfe;
}

.frozen {
  background-color: #86efac;
  transition: background-color 0.3s ease;
}

.frozen-row-0 {
  background-color: yellow;
}

.frozen-row-1 {
  background-color: orange;
}

.frozen-row-2 {
  background-color: green;
}

.frozen-row-3 {
  background-color: purple;
}